---
layout: page
title: "Registro histórico de artículos"
teaser: "En esta sección tienes disponible todos los artículos y noticias que hemos ido publicando en la web desde sus inicios."
breadcrumb: true
header:
   image_fullwidth: header_unsplash_8.jpg
permalink: "blog/archive/"
sidebar: right
---
<div id="blog-index" class="row">
	<div class="small-12 columns t30">
		<dl class="accordion" data-accordion>
			{% assign counter = 1 %}
			{% for post in site.posts limit:1000 %}
			{% unless post.hidden == true %}
			<dd class="accordion-navigation">
			<a href="#panel{{ counter }}"><span class="iconfont"></span> 
				{{ post.categories | join: ' &middot; ' | prepend: '<span class="subheader">' | append: ' - </span>' }}
				{% if post.subheadline %}{{ post.subheadline }} › {% endif %}
				<strong>{{ post.title }}</strong></a>
				<div id="panel{{ counter }}" class="content">
					{% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
					<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a><br><br>
				</div>
			</dd>
			{% assign counter=counter | plus:1 %}
			{% endunless %}
			{% endfor %}
		</dl>
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
